{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
        <div class="card">
            <h1 class="card-header">Cipta Invois Baru</h1>
            <div class="card-body">
    	       {{ include('invoice/_form.html.twig') }}
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-4">
    	<a href="{{ path('invoice_index') }}">Kembali Ke Senarai Invoice</a>
    </div>
    </div>
    </div>
</div>

{% endblock %}