{% extends 'base.html.twig' %}

{% block title %}Login {% endblock %}

{% block body %}
<div class="container">
<br><br><br><br>
{% if error %}
<div class="col-lg-12">
    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
</div>
{% endif %}

<div class="col-lg-6 offset-lg-3 align-items-lg-center">
	<div class="card mx-auto">
			<h1 class="card-header">Login</h1>
		<div class="card-body">
		<form action="{{ path('login') }}" method="post">
 			<div class="form-group">
    			<label for="username">Username:</label>
    			<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
			<div>
			<div class="form-group">
    			<label for="password">Password:</label>
    			<input type="password" class="form-control" id="password" name="_password" />
			<div>
			<input type="hidden" name="_target_path" value="/" />
    		<button type="submit" class="btn btn-primary">Login</button>
		</form>
		</div>
	</div>
</div>

</div>
{% endblock %}
