{% extends 'base.html.twig' %}

{% block title %}Contract{% endblock %}

{% block body %}
<div class="container">

<div class="col-lg-12">
<br><br>
    <div class="card">
         {% if contract.person.class == "App\\Entity\\Tenant" %}
                    <h1 class="card-header">Kontrak Penyewa</h1>
                {% elseif contract.person.class == "App\\Entity\\Owner"%}
                     <h1 class="card-header">Kontrak Pemilik</h1>
                {% endif %}
    <table class="table">
        <tbody>
              <tr>
                {% if contract.person.class == "App\\Entity\\Tenant" %}
                     <th>Nama Penyewa</th>
                {% elseif contract.person.class == "App\\Entity\\Owner"%}
                     <th>Nama Pemilik</th>
                {% endif %}
               
                <td>{{ contract.person.name }}</td>
            </tr>
               <tr>
                  {% if contract.person.class == "App\\Entity\\Tenant" %}
                     <th>Bilik Sewa</th>
                     <td>{{ contract.place.number }}, {{ contract.place.home.name }}</td>
                {% elseif contract.person.class == "App\\Entity\\Owner"%}
                     <th>Rumah</th>
                     <td>{{ contract.place.number }}, {{ contract.place.name }}</td>
                {% endif %}
                
            </tr>
            <tr>
                <th>Tarikh Mula</th>
                <td>{{ contract.startDate ? contract.startDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Tarikh Keluar</th>
                <td>{{ contract.actualEndDate ? contract.actualEndDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Tarikh Tamat</th>
                <td>{{ contract.endDate ? contract.endDate|date('d-m-Y') : '' }}</td>
            </tr>
             <tr>
                <th>Kadar Sewa</th>
                <td>MYR{{ contract.rentAmount }}</td>
            </tr>
            <tr>
                <th>Deposit Sewa</th>
                <td>MYR{{ contract.rentDeposit }}</td>
            </tr>
            <tr>
                <th>Deposit Utility</th>
                <td>MYR{{ contract.rentUtility }}</td>
            </tr>
            <tr>
                <th>Pembaharuan</th>
                <td>{{ contract.renewal ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="card-body">
        <div class="btn-group">
            {% if contract.person.class == "App\\Entity\\Tenant" %}
                <a class="btn btn-info" href="{{ path('generateContractRoom', {'placeId': contract.place.placeId, 'id': contract.id}) }}">Cetak Kontrak</a>
                <a class="btn btn-primary" href="{{ path('room_contractRenew', {'placeId': contract.place.placeId, 'id': contract.id }) }}">Perbaharui Kontrak</a>
            {% else %}
                  <a class="btn btn-info" href="{{ path('generateContractHome', {'placeId': contract.place.placeId, 'id': contract.id}) }}">Cetak Kontrak</a>
                  <a class="btn btn-primary" href="{{ path('home_contractRenew', {'placeId': contract.place.placeId}) }}">Perbaharui Kontrak</a>
            {% endif %}
            <a class="btn btn-warning" href="{{ path('contract_edit', {'id': contract.id}) }}">Sunting</a>
            {{ include('contract/_delete_form.html.twig') }}
        </div>
    </div>
    </div>
</div>
 {% if contract.person.class == "App\\Entity\\Tenant" %}
    <a href="{{ path('person_show', {'personId': contract.person.personId}) }}">Kembali ke Butiran Penyewa</a>
{% elseif contract.person.class == "App\\Entity\\Owner"%}
      <a href="{{ path('person_show', {'personId': contract.person.personId}) }}">Kembali ke Butiran Pemilik</a>
{% endif %}
</div>
{% endblock %}