<form method="post" action="{{ path('home_delete', {'placeId': home.placeId}) }}" onsubmit="return confirm('Aadakah anda pasti untuk menyingkirkan rekod kediaman ini?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home.placeId) }}">
    <button class="btn btn-danger">Singkirkan</button>
</form>