{% extends 'base.html.twig' %}

{% block title %}Kediaman Baru{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
        <div class="card">
            <h1 class="card-header">Cipta Rekod Kediaman Baru</h1>
            <div class="card-body">
    	       {{ include('home/_form.html.twig') }}
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-4">
    	<a href="{{ path('home_index') }}">Kembali Ke Senarai Kediaman</a>
    </div>
    </div>
    </div>
</div>
{% endblock %}