{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="col-lg-12">
    <div class="card">
            <h1 class="card-header"> Maklumat Kediaman</h1>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>No. Kediaman</th>
                        <td>{{ home.number }}</td>
                    </tr>
                    <tr>
                        <th>Nama Bangunan/Perumahan</th>
                        <td>{{ home.name }}</td>
                    </tr>
                    <tr>
                        <th>Alamat Kediaman</th>
                        <td>{{ home.homeAddress }}</td>
                    </tr>
                    <tr>
                        <th>Jenis Kediaman</th>
                        <td>{{ home.homeType }}</td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>

        <div class="btn-group" role="group">
            <a class="btn btn-info" href="{{ path('generateContractHome', {'placeId': home.placeId, 'id': home.contracts | last.id}) }}">Cetak Kontrak</a>
            <a class="btn btn-warning" href="{{ path('home_edit', {'placeId': home.placeId}) }}">Sunting Maklumat Kediaman</a>
            <a class="btn btn-primary" href="{{ path('home_contractRenew', {'placeId': home.placeId}) }}">Perbaharui Kontrak</a>
            {{ include('home/_delete_form.html.twig') }}
        </div>
        <br><br>
        
        <h2>Butiran Kontrak Kediaman</h2>

            <div id="contract">Loading...</div>
        </div>
    </div>
    </div>
    <br>

    <div class="col-lg-12">
        <h2>Senarai Bilik</h2>
    </div>

    <div class="col-lg-12">
        <table class="table clickableRow">
            <thead class="thead-dark">
                <tr>
                    <th>No Bilik</th>
                    <th>Jenis Bilik</th>
                    <th>Kapasiti</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for room in home.rooms if room.deletedAt == null %}
                {% set occupantCount = 0 %}
                {% for contract in room.contracts if contract.startDate < date() and contract.endDate > date() %}
                    {% set occupantCount = occupantCount + 1 %}
                {% endfor %}
                <tr onclick="window.location.assign('{{ path('room_show', {'placeId': room.placeId}) }}')">
                    <td>{{ room.number }}</td>
                    <td>{{ room.roomType }}</td>
                    <td>{{ room.occupant | length }}/{{ room.capacity }}</td>
                    <td>
                     <a class="btn btn-warning" href="{{ path('room_edit_by_home', {'placeId': room.placeId}) }}">Sunting Maklumat Bilik</a>
                     {{ include('room/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Tiada Rekod</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('room_new_with_home', {'placeId': home.placeId}) }}">Cipta Rekod Bilik Baru</a>
    </div>

    <a href="{{ path('home_index') }}">Kembali Ke Senarai Kediaman</a>

    
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#contract').initDataTables({{ datatable_settings(contractTable) }},{
                searching: true
            });
        });
    </script>
{% endblock %}