<form method="post" action="{{ path('room_contractDelete', {'id': contract.id, 'placeId': room.placeId}) }}" onsubmit="return confirm('Adakah anda pasti untuk menyingkirkan rekod kontrak penyewa ini?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contract.id) }}">
    <button class="btn btn-danger">Singkirkan Contract</button>
</form>