{% extends 'base.html.twig' %}

{% block title %}Kontrak Baru{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
	<div class="card">
  			<h4 class="card-header"> Maklumat Bilik</h4>
  		<div class="card-body">
		<p>
			{{ room.number }},{{ room.home.HomeNumberAndName }},
			{{ room.home.homeAddress }}
		</p>
		</div>
	</div>
	</div>
	<br>
	<div class="col-lg-12">
	<div class="card">
  			<h4 class="card-header"> Maklumat Kontrak {% if edit == null %} Dahulu {% endif %} </h4>
  		<div class="card-body">
		<p>
			{% if contract == null %}
				Tiada record kontrak
			{% else %}
				Nama Penyewa: {{ contract.person.name }}<br>
				{{ contract.person.identificationType }}: {{ contract.person.identificationNo }}<br>
				Tarikh Mula: {{ contract.startDate|date('d-m-Y') }}<br>
				Tarikh Tamat: {{ contract.endDate|date('d-m-Y') }}
			{% endif %}
		</p>
		</div>
	</div>
	</div>
    <br>
    <div class="col-lg-12">
    <div class="card">
  			<h4 class="card-header">Borang {% if edit == null %} Perbaharui {% else %} Sunting {% endif %} Kontrak</h4>
  		<div class="card-body">
  			{{ include('room/contract/_contract_room_form.html.twig') }}
		</div>
	</div>
	<a href="{{ path('contract_show', {'id': contract.id }) }}">Kembali Ke Kontrak Asal</a>
    </div>
</div>
{% endblock %}

