<form method="post" action="{{ path('room_delete', {'placeId': room.placeId}) }}" onsubmit="return confirm('Adakah anda pasti untuk singkirkan bilik ini?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.placeId) }}">
    <button class="btn btn-danger">Singkirkan</button>
</form>