{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
<div class="container">
<br>
    <div class="col-lg-12">
        <h1>Senarai Bilik</h1>
    </div>

    <div class="col-lg-12">
        <table class="table clickableRow">
            <thead class="thead-dark">
                <tr>
                    <th>Bangunan</th>
                    <th>No Bilik</th>
                    <th>Jenis Bilik</th>
                    <th>Bilangan Orang</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for room in rooms if room.deletedAt == null %}
                <tr onclick="window.location.assign('{{ path('room_show', {'placeId': room.placeId}) }}')">
                    <td>{{ room.home.HomeNumberAndName }}</td>
                    <td>{{ room.number }}</td>
                    <td>{{ room.roomType }}</td>
                    <td>{{ room.capacity }}</td>
                    <td>
                     <a class="btn btn-warning" href="{{ path('room_edit', {'placeId': room.placeId}) }}">Sunting Maklumat Bilik</a>
                     {{ include('room/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Tiada Rekod</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('room_new') }}">Cipta Rekod Baru</a>
    </div>
    
{% endblock %}