{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
    	<h1>Cipta Rekod Bilik</h1>
    </div>

    <div class="col-lg-12">
    	{{ include('room/_form.html.twig') }}
    </div>
    <br>
    <div class="col-lg-4">
    	<a href="{{ path('home_show', {'placeId': home.placeId })  }}">Kembali Ke Butiran Rumah</a>
    </div>
</div>
{% endblock %}