{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('errors') %}

            {{ dump(flashMessage) }}

        {% endfor %}
        <div class="card">
            <h1 class="card-header">Borang Pendaftaran Penyewa Baru</h1>
            <div class="card-body">
    	       {{ include('room/contract/_contract_room_form.html.twig') }}
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}