{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="col-lg-12">
    <div class="card">
            <h1 class="card-header"> Maklumat Bilik {{ room.home.HomeNumberAndName}}</h1>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>No. Bilik</th>
                        <td>{{ room.number }}</td>
                    </tr>
                    <tr>
                        <th>Jenis Bilik</th>
                        <td>{{ room.roomType }}</td>
                    </tr>
                    <tr>
                        <th>Bilangan Orang</th>
                        <td>{{ room.capacity }}</td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>

        <div class="btn-group" role="group">
            <a class="btn btn-warning" href="{{ path('room_edit', {'placeId': room.placeId}) }}">Sunting Maklumat Bilik</a>
            {{ include('room/_delete_form.html.twig') }}
        </div>
        </div>
    </div>
    </div>
    <br>
    <div class="col-lg-12">
    <h2>Butiran Kontrak Bilik</h2>
        <div id="contract">Loading ... </div>
<!--
    <table class="table">
        <tbody>
            <tr>
                <th>Nama Penyewa</th>
                <th>Tarikh Mula </th>
                <th>Tarikh Tamat </th>
                <th>Sewa </th>
                <th>Deposit </th>
                <th>Utility </th>
                <th>Pembaharuan </th>
                <th></th>
            </tr>
    {% for contract in contracts %}
            <tr>
                <td>{{contract.person.name}}</td>
                <td>{{contract.startDate ? contract.startDate|date('d-m-Y') : '' }}</td>
                <td>{{contract.endDate ? contract.endDate|date('d-m-Y') : '' }}</td>
                <td>MYR{{contract.rentAmount}}</td>
                <td>MYR{{contract.rentDeposit}}</td>
                <td>MYR{{contract.rentUtility}}</td>
                <td>{{ contract.renewal ? 'Ya' : 'Tidak' }}</td>
                <td>
                <a class="btn btn-info" href="{{ path('generateContractRoom', {'placeId': room.placeId, 'id': contract.id}) }}">Cetak Kontrak</a>
                <a class="btn btn-warning" href="{{ path('room_contractEdit', {'placeId': room.placeId, 'id': contract.id}) }}">Sunting Kontrak</a>
                {% if contract.endDate < date('30days') %}
                <a class="btn btn-primary" href="{{ path('room_contractRenew', {'placeId': room.placeId, 'id': contract.id }) }}">Perbaharui Kontrak</a>
                {% endif %}
                {{ include('room/contract/_delete_contract_room_form.html.twig') }}
                </td>
            </tr>
    {% endfor %}
            </tbody>
    </table> 
-->
    <a href="{{ path('home_show', {'placeId': room.home.placeId })  }}">Kembali Ke Butiran Rumah</a>

    
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#contract').initDataTables({{ datatable_settings(contractTable) }},{
                searching: true
            });
        });
    </script>
{% endblock %}