{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
{% set reportDate = date("29-#{month}-#{year}")  %}
{% set thirtyDaysLaterDate = date("29-#{month}-#{year}")|date_modify("+30 days") %}
{% set thirtyDaysBeforeDate = date("29-#{month}-#{year}")|date_modify("-30 days") %}
{% set lastMonthDate = date("29-#{month}-#{year}")|date_modify("-30 days") %}
{% set nextMonthDate = date("29-#{month}-#{year}")|date_modify("+30 days") %}
{% set homeWithDebts = [] %}
	<div class="col-lg-12">
		<h1>Laporan Bulanan {{ month }} - {{ year }}</h1>
	</div>

	<div class="col-lg-12">	



	 <a class="btn btn-dark" href="{{ path('montlySalesReport',{ 'month': lastMonthDate | date('m'), 'year' : lastMonthDate | date('Y')}) }}">Laporan Bulan Lalu</a>

	 {% if nextMonthDate <= date()|date_modify("+30 days") %}
	 <a class="btn btn-info" href="{{ path('montlySalesReport',{ 'month': nextMonthDate | date('m'), 'year' : nextMonthDate | date('Y')}) }}">Laporan Bulan Seterusnya</a>
	 {% endif %}
		<table class="table table-bordered">
			<tr>
				<th>No.</th>
				<th>Unit</th>
				<th>Debit</th>
				<th>Kredit</th>
				<th>Jumlah Semasa</th>
				<th>Status</th>
				<th>Hutang Dibawa Bulan-Bulan Lalu</th>
				<th>Kutipan Bulan Ini</th>
			</tr>
			
		{% set number = 1 %}
		{% set TotalDebit  = 0%}
		{% set TotalKredit = 0%}
		{% set CummulativeDebit = 0%}
		{% set CummulativeKredit = 0%}
		{% set Margin = 0 %}
		{% set TotalMargin = 0 %}
		{% set TotalOverdueDebts = 0 %}
		{% set TotalIncome = 0 %}
		{% set CummulativeOverdueDebts = 0 %}
		{% set CummulativeTotalIncome = 0 %}
		{% for home in homes if home.deletedAt == null %}
		<tr>
			{% set TotalDebit = 0 %}
			{% set TotalKredit = 0 %}
			{% set TotalOverdueDebts = 0 %}
			{% set TotalIncome = 0 %}
			{% set processedTransactionIDRelease = [] %}
			{% set processedTransactionIDPaid = [] %}
			{% set processedTransactionIDDebt = [] %}


			{% for contract in home.contracts if contract.deletedAt == null  %}

				{% for transaction in contract.person.transactions if transaction.deletedAt == null %}
					{% if  transaction.dateIssued | date('m') == month
					and transaction.dateIssued | date('Y') == year 
					and transaction.datePaid !=  null
					and transaction.id not in processedTransactionIDRelease %} 
					{% set processedTransactionIDRelease = processedTransactionIDRelease|merge([transaction.id])  %}

						{% if transaction.transactionType == "DEBIT" %}
							{% set TotalDebit = TotalDebit + transaction.transactionAmount %}
						{% else %}
							{% set TotalKredit = TotalKredit + transaction.transactionAmount %}
						{% endif %}

					{% endif %}

					{% if transaction.datePaid != null 
					and transaction.datePaid | date('m') == month 
					and transaction.datePaid | date('Y') == year
					and transaction.id not in processedTransactionIDPaid %}
					{% set processedTransactionIDPaid = processedTransactionIDPaid|merge([transaction.id])  %}
						{% if transaction.transactionType == "DEBIT" %}
							{% set TotalIncome = TotalIncome + transaction.transactionAmount %}
						{% else %}
							{% set TotalIncome = TotalIncome - transaction.transactionAmount %}
						{% endif %}
					{% endif %}

					{% if transaction.datePaid == null 
					and transaction.datePaid  < reportDate 
					and transaction.transactionType == "DEBIT"
					and transaction.id not in processedTransactionIDDebt %} 
					{% set processedTransactionIDDebt = processedTransactionIDDebt|merge([transaction.id])  %}
						{% set TotalOverdueDebts = TotalOverdueDebts + transaction.transactionAmount %}
					{% endif %}
				{% endfor %}


			{% endfor %}

			{% for room in home.rooms if room.deletedAt == null %}

				{% for contract in room.contracts if contract.deletedAt == null %} 

					{% for transaction in contract.person.transactions if transaction.deletedAt == null %}

						{% if transaction.dateIssued | date('m') == month 
						and transaction.dateIssued | date('Y') == year 
						and transaction.datePaid !=  null
						and transaction.id not in processedTransactionIDRelease %} 
						{% set processedTransactionIDRelease = processedTransactionIDRelease|merge([transaction.id])  %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set TotalDebit = TotalDebit + transaction.transactionAmount %}
							{% else %}
								{% set TotalKredit = TotalKredit + transaction.transactionAmount %}
							{% endif %}

						{% endif %}

						{% if transaction.datePaid != null 
						and transaction.datePaid | date('m') == month 
						and transaction.datePaid | date('Y') == year
						and transaction.id not in processedTransactionIDPaid %}
						{% set processedTransactionIDPaid = processedTransactionIDPaid|merge([transaction.id])  %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set TotalIncome = TotalIncome + transaction.transactionAmount %}
							{% else %}
								{% set TotalIncome = TotalIncome - transaction.transactionAmount %}
							{% endif %}

						{% endif %}

						{% if (transaction.datePaid == null 
						or transaction.datePaid  >= reportDate) 
						and transaction.dateIssued <= reportDate
						and transaction.transactionType == "DEBIT"
						and transaction.id not in processedTransactionIDDebt %} 
							{% set processedTransactionIDDebt = processedTransactionIDDebt|merge([transaction.id])  %}
							{% set TotalOverdueDebts = TotalOverdueDebts + transaction.transactionAmount %}
						{% endif %}


					{% endfor %}

				{% endfor %}
			{% endfor %}

		<td>{{ number }}</td>{% set number = number + 1 %}
		<td>{{ home.number }},{{ home.name }}</td>
		<td>MYR{{ TotalDebit|number_format(2, '.', ',')  }}</td>
		<td>MYR{{ TotalKredit|number_format(2, '.', ',')  }}</td>
		{% set Margin = TotalDebit - TotalKredit %}
		<td>MYR{{ Margin|number_format(2, '.', ',')  }}</td>
		<td>
					{% if(Margin > 0) %}
						<p class="font-weight-bold" style="color:green">Profit</p>
					{% elseif(Margin < 0) %}
						<p class="font-weight-bold" style="color:red">Loss</p>
					{% else %}
						-/-
					{% endif %}
		</td>
		<td>MYR{{ TotalOverdueDebts |number_format(2, '.', ',') }}</td>
		<td>
					{% if(TotalIncome > 0) %}
						<p class="font-weight-bold" style="color:green">MYR{{ TotalIncome |number_format(2, '.', ',') }}</p>
					{% elseif(TotalIncome < 0) %}
						<p class="font-weight-bold" style="color:red">- MYR{{ TotalIncome * -1 |number_format(2, '.', ',') }}</p>
					{% else %}
						-/-
					{% endif %}
		</td>
		{% if TotalOverdueDebts > 0 %}
			{% set homeWithDebts = homeWithDebts|merge([home.placeId]) %}
		{% endif %}
		</tr>
		{% set CummulativeDebit = CummulativeDebit + TotalDebit %}
		{% set CummulativeKredit = CummulativeKredit + TotalKredit %}
		{% set CummulativeOverdueDebts = CummulativeOverdueDebts + TotalOverdueDebts %}
		{% set CummulativeTotalIncome = CummulativeTotalIncome + TotalIncome %}
		{% set TotalMargin = TotalMargin + Margin %}

		{% endfor %}
			
			<tr>
				<td colspan="2"style="text-align: right">Total</td>
				<td>MYR{{ CummulativeDebit |number_format(2, '.', ',')  }}</td>
				<td>MYR{{ CummulativeKredit |number_format(2, '.', ',')  }}</td>
				<td>MYR{{ TotalMargin |number_format(2, '.', ',') }}</td>
				<td>
					{% if(TotalMargin > 0) %}
						<p class="font-weight-bold" style="color:green">Profit</p>
					{% elseif(TotalMargin < 0) %}
						<p class="font-weight-bold" style="color:red">Loss</p>
					{% else %}
						-/-
					{% endif %}
				</td>
				<td>MYR{{ CummulativeOverdueDebts |number_format(2, '.', ',') }}</td>
				<td>
					{% if(CummulativeTotalIncome > 0) %}
						<p class="font-weight-bold" style="color:green">MYR{{ CummulativeTotalIncome |number_format(2, '.', ',') }}</p>
					{% elseif(CummulativeTotalIncome < 0) %}
						<p class="font-weight-bold" style="color:red">- MYR{{ CummulativeTotalIncome * -1 |number_format(2, '.', ',') }}</p>
					{% else %}
						-/-
					{% endif %}
		</td>
			</tr>
		</table>
	</div>

		{% for home in homes if home.deletedAt == null %}
			{% set TotalDebit = 0 %}
			{% set TotalKredit = 0 %}
			{% set TotalActualDebit = 0 %}
			{% set TotalActualKredit = 0 %}
			{% set TotalOverdueDebts = 0 %}
			<br><br>
			<div class="col-lg-12">
			<div class="card">
				<h2 class="card-header" >{{ home.Number }}, {{ home.Name }} </h2>
					<div class="card-body">
						{% if home.placeId in homeWithDebts %}
							<h3>Hutang Terdahulu</h3>
							<table class="table table-responsive table-stripe table-bordered">
								<tr><th>Penghutang / Pemiutang </th>
									<th>Butiran Bayaran</th>
									<th>Tarikh Dikeluarkan</th>
									<th>Amaun</th>
								</tr>
								{% for contract in home.contracts if contract.deletedAt == null 
									and contract.startDate < reportDate
									and contract.endDate > reportDate %}
										{% for transaction in contract.person.transactions if transaction.deletedAt == null
										and (transaction.datePaid > reportDate or transaction.datePaid == null)
										and transaction.dateIssued < reportDate  %}
										<tr>
											<td>{{ contract.person.name }}</td>
											<td>{{ transaction.transactionDescription }}</td>
											<td>{{ transaction.dateIssued | date('d-m-Y') }}</td>
											<td>MYR{{ transaction.transactionAmount |number_format(2, '.', ',') }}</td>
										</tr>
									{% endfor %}
								{% endfor %}
								{% for room in home.rooms if room.deletedAt == null %}
									{% for contract in room.contracts if contract.deletedAt == null 
										and contract.startDate < reportDate
										and contract.endDate > reportDate %}
											{% for transaction in contract.person.transactions if transaction.deletedAt == null
											and (transaction.datePaid > reportDate or transaction.datePaid == null)
											and transaction.dateIssued < reportDate  %}
											<tr>
												<td>{{ contract.person.name }}</td>
												<td>{{ transaction.transactionDescription }}</td>
												<td>{{ transaction.dateIssued | date('d-m-Y') }}</td>
												<td>MYR{{ transaction.transactionAmount |number_format(2, '.', ',') }}</td>
											</tr>
											{% endfor %}
									{% endfor %}
								{% endfor %}
								</table>
						{% endif %}
						<h3>Laporan Terperinci</h3>
						<table class="table table-responsive table-stripe table-bordered">
							<tr><th>Penerima / Pembayar </th>
								<th>Butiran Bayaran</th>
								<th>Tarikh Dikeluarkan</th>
								<th>Tarikh Dibayar</th>
								<th>Debit</th>
								<th>Kredit</th>
								<th>Debit Sebenar</th>
								<th>Kredit Sebenar</th>
							</tr>
							<tr>
							<!-- House Owner Payments --> <!--  Step One Check Home Owner Contract -->
								{% for contract in home.contracts if contract.deletedAt == null 
									and contract.startDate < reportDate
									and contract.endDate > reportDate %}
									<!-- Check Home Owner Details -->
										<!-- Check All Transaction Associated With The Home Owner -->
										{% for transaction in contract.person.transactions if transaction.deletedAt == null
											and (transaction.dateIssued | date('m') == month and transaction.dateIssued | date('Y') == year) %}
										<tr
										{% if transaction.datePaid == null %}
											style="color: red"
										{% endif %}
										>
										<td>{{ transaction.person.name }}</td>
										<td>{{ transaction.transactionDescription }}</td>
										<td>{{ transaction.dateIssued | date('d-m-Y')}}</td>
										<td>
										{% if transaction.datePaid != null %}
											{{ transaction.datePaid | date('d-m-Y')}} 
										{% endif %}
										</td>
										{% if transaction.transactionType == "DEBIT" %}
										{% set TotalDebit = TotalDebit + transaction.transactionAmount %}
										<td>MYR{{ transaction.transactionAmount|number_format(2, '.', ',')  }}</td>
										<td></td>
											{% if transaction.datePaid != null %}
											{% set TotalActualDebit = TotalActualDebit + transaction.transactionAmount %}
											<td>MYR{{ transaction.transactionAmount|number_format(2, '.', ',')  }}</td>
											<td></td>
											{% else %}
											<td></td>
											<td></td>
											{% endif %}
										{% else %}
										{% set TotalKredit = TotalKredit + transaction.transactionAmount %}
										<td></td>
										<td>MYR{{ transaction.transactionAmount|number_format(2, '.', ',')  }}</td>
											{% if transaction.datePaid != null %}
											{% set TotalActualKredit = TotalActualKredit + transaction.transactionAmount %}
											<td></td>
											<td>MYR{{ transaction.transactionAmount|number_format(2, '.', ',')  }}</td>
											{% else %}
											<td></td>
											<td></td>
											{% endif %}
										{% endif %}
										</tr>
										{% endfor %}
									{% endfor %}
							<!-- Room Tenant Payments -->
								{% for room in home.rooms if room.deletedAt == null %}
									{% for contract in room.contracts if contract.deletedAt == null 
									and contract.startDate < reportDate
									and contract.endDate > reportDate %}
										<!-- Check Room Tenant Details -->
										<!-- Check All Transaction Associated With The Room Tenant Details -->
										{% for transaction in contract.person.transactions if transaction.deletedAt == null
											and (transaction.dateIssued | date('m') == month 
											and transaction.dateIssued | date('Y') == year)%}
										<tr
										{% if transaction.datePaid == null %}
											style="color: red"
										{% endif %}
										>
										<td>{{ transaction.person.name }}</td>
										<td>{{ transaction.transactionDescription }}</td>
										<td>{{ transaction.dateIssued | date('d-m-Y')}}</td>
										<td>
										{% if transaction.datePaid != null %}
											{{ transaction.datePaid | date('d-m-Y')}} 
										{% endif %}
										</td>
										{% if transaction.transactionType == "DEBIT" %}
										{% set TotalDebit = TotalDebit + transaction.transactionAmount %}
										<td>MYR{{ transaction.transactionAmount |number_format(2, '.', ',')  }}</td>
										<td></td>
											{% if transaction.datePaid != null %}
											{% set TotalActualDebit = TotalActualDebit + transaction.transactionAmount %}
											<td>MYR{{ transaction.transactionAmount |number_format(2, '.', ',')  }}</td>
											<td></td>
											{% else %}
											<td></td>
											<td></td>
											{% endif %}
										{% else %}
										{% set TotalKredit = TotalKredit + transaction.transactionAmount %}
										<td></td>
										<td>MYR{{ transaction.transactionAmount |number_format(2, '.', ',') }}</td>
											{% if transaction.datePaid != null %}
												<td>{% set TotalActualKredit = TotalActualKredit + transaction.transactionAmount %}
												<td>MYR{{ transaction.transactionAmount |number_format(2, '.', ',')  }}</td>
											{% else %}
												<td></td>
												<td></td>
											{% endif %}
										{% endif %}
										</tr>
										{% endfor %}
									{% endfor %}
							{% endfor %}
							</tr>
							<tr>
								{% set Margin = TotalDebit-TotalKredit %}
								{% set ActualMargin = TotalActualDebit-TotalActualKredit %}
								<td colspan="4" style="text-align: right">Jumlah Sepatutnya</td><td colspan="2" style="text-align: right">MYR{{ Margin|number_format(2, '.', ',') }}</td><td colspan="1" style="text-align: right">Jumlah Semasa</td><td>MYR{{ ActualMargin|number_format(2, '.', ',')   }}</td>

							</tr>
						</table>
					</div>
			</div>
			{% endfor %}

		
	
</div>

{% endblock %}
