{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
{% set CurrentMonth = "now"|date('m') %}
{% set lastYearDate = date("31-12-#{year}")|date_modify("-1 year") %}
{% set nextYearDate = date("31-12-#{year}")|date_modify("+1 year") %}
	<div class="col-lg-12">
		<h1>Laporan Tahunan (Januari - Disember {{ year }})</h1>
	</div>
	<div class="col-lg-12">

	 	<a class="btn btn-dark" href="{{ path('yearlySalesReport',{ 'year' : lastYearDate | date('Y') }) }}">Laporan Tahun Lalu </a>

	 	{% if year < "now"|date('Y') %}
	 	<a class="btn btn-info" href="{{ path('yearlySalesReport',{ 'year': nextYearDate | date('Y') }) }}">Laporan Tahun Seterusnya </a>
	 	{% endif %}

	 	<h1> Laporan Invois </h1>
		<table class="table table-responsive table-bordered">
			{% set TotalJanMargin = 0 %}
			{% set TotalFebMargin = 0 %}
			{% set TotalMarMargin = 0 %}

			{% set TotalAprMargin = 0 %}
			{% set TotalMayMargin = 0 %}
			{% set TotalJunMargin = 0 %}

			{% set TotalJlyMargin = 0 %}
			{% set TotalAugMargin = 0 %}
			{% set TotalSepMargin = 0 %}

			{% set TotalOctMargin = 0 %}
			{% set TotalNovMargin = 0 %}
			{% set TotalDecMargin = 0 %}
			<tr>
				<th>Rumah</th>
				<th>Januari</th>
				<th>Februari</th>
				<th>Mac</th>

				<th>April</th>
				<th>Mei</th>
				<th>Jun</th>

				<th>Julai</th>
				<th>Ogos</th>
				<th>September</th>

				<th>Oktober</th>
				<th>November</th>
				<th>Disember</th>
				<th>Jumlah Semasa Setiap Rumah</th>
			</tr>

			{% for home in homes if home.deletedAt == null %}
				{% set JanMargin = 0 %}
				{% set FebMargin = 0 %}
				{% set MarMargin = 0 %}

				{% set AprMargin = 0 %}
				{% set MayMargin = 0 %}
				{% set JunMargin = 0 %}

				{% set JlyMargin = 0 %}
				{% set AugMargin = 0 %}
				{% set SepMargin = 0 %}

				{% set OctMargin = 0 %}
				{% set NovMargin = 0 %}
				{% set DecMargin = 0 %}

				{% set processedTransactionID = [] %}
				{% for contract in home.contracts if contract.deletedAt == null %}

					{% for transaction in contract.person.transactions if transaction.deletedAt == null 
					and transaction.dateIssued|date("Y") == year 
					and transaction.datePaid != null 
					and transaction.id not in processedTransactionID %}
					{% set processedTransactionID = processedTransactionID|merge([transaction.id])  %}

						{% if(transaction.dateIssued|date("m") == 01) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JanMargin = JanMargin + transaction.transactionAmount %}
								{% set TotalJanMargin = TotalJanMargin + transaction.transactionAmount %}
							{% else %}
								{% set JanMargin = JanMargin - transaction.transactionAmount %}
								{% set TotalJanMargin = TotalJanMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 02) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set FebMargin = FebMargin + transaction.transactionAmount %}
								{% set TotalFebMargin = TotalFebMargin + transaction.transactionAmount %}
							{% else %}
								{% set FebMargin = FebMargin - transaction.transactionAmount %}
								{% set TotalFebMargin = TotalFebMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 03) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set MarMargin = MarMargin + transaction.transactionAmount %}
								{% set TotalMarMargin = TotalMarMargin + transaction.transactionAmount %}
							{% else %}
								{% set MarMargin = MarMargin - transaction.transactionAmount %}
								{% set TotalMarMargin = TotalMarMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 04) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set AprMargin = AprMargin + transaction.transactionAmount %}
								{% set TotalAprMargin = TotalAprMargin + transaction.transactionAmount %}
							{% else %}
								{% set AprMargin = AprMargin - transaction.transactionAmount %}
								{% set TotalAprMargin = TotalAprMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 05) %}
							{% if transaction.transactionType == "DEBIT" %}
								
								{% set MayMargin = MayMargin + transaction.transactionAmount %}
								{% set TotalMayMargin = TotalMayMargin + transaction.transactionAmount %}
							{% else %}
								{% set MayMargin = MayMargin - transaction.transactionAmount %}
								{% set TotalMayMargin = TotalMayMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 06) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JunMargin = JunMargin + transaction.transactionAmount %}
								{% set TotalJunMargin = TotalJunMargin + transaction.transactionAmount %}
							{% else %}
								{% set JunMargin = JunMargin - transaction.transactionAmount %}
								{% set TotalJunMargin = TotalJunMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 07) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JlyMargin = JlyMargin + transaction.transactionAmount %}
								{% set TotalJlyMargin = TotalJlyMargin + transaction.transactionAmount %}
							{% else %}
								{% set JlyMargin = JlyMargin - transaction.transactionAmount %}
								{% set TotalJlyMargin = TotalJlyMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 08) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set AugMargin = AugMargin + transaction.transactionAmount %}
								{% set TotalAugMargin = TotalAugMargin + transaction.transactionAmount %}
							{% else %}
								{% set AugMargin = AugMargin - transaction.transactionAmount %}
								{% set TotalAugMargin = TotalAugMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 09) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set SepMargin = SepMargin + transaction.transactionAmount %}
								{% set TotalSepMargin = TotalSepMargin + transaction.transactionAmount %}
							{% else %}
								{% set SepMargin = SepMargin - transaction.transactionAmount %}
								{% set TotalSepMargin = TotalSepMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 10) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set OctMargin = OctMargin + transaction.transactionAmount %}
								{% set TotalOctMargin = TotalOctMargin + transaction.transactionAmount %}
							{% else %}
								{% set OctMargin = OctMargin - transaction.transactionAmount %}
								{% set TotalOctMargin = TotalOctMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 11) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set NovMargin = NovMargin + transaction.transactionAmount %}
								{% set TotalNovMargin = TotalNovMargin + transaction.transactionAmount %}
							{% else %}
								{% set NovMargin = NovMargin - transaction.transactionAmount %}
								{% set TotalNovMargin = TotalNovMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 12) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set DecMargin = DecMargin + transaction.transactionAmount %}
								{% set TotalDecMargin = TotalDecMargin + transaction.transactionAmount %}
							{% else %}
								{% set DecMargin = DecMargin - transaction.transactionAmount %}
								{% set TotalDecMargin = TotalDecMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
					{% endfor %}

				{% endfor %}

				{% for room in home.rooms if room.deletedAt == null %}
				{% for contract in room.contracts if contract.deletedAt == null %}

					
					{% for transaction in contract.person.transactions if transaction.deletedAt == null 
					and transaction.dateIssued|date("Y") == year
					and transaction.datePaid != null
					and transaction.id not in processedTransactionID %}
						{% set processedTransactionID = processedTransactionID|merge([transaction.id])  %}
						{% if(transaction.dateIssued|date("m") == 01) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JanMargin = JanMargin + transaction.transactionAmount %}
								{% set TotalJanMargin = TotalJanMargin + transaction.transactionAmount %}
							{% else %}
								{% set JanMargin = JanMargin - transaction.transactionAmount %}
								{% set TotalJanMargin = TotalJanMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 02) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set FebMargin = FebMargin + transaction.transactionAmount %}
								{% set TotalFebMargin = TotalFebMargin + transaction.transactionAmount %}
							{% else %}
								{% set FebMargin = FebMargin - transaction.transactionAmount %}
								{% set TotalFebMargin = TotalFebMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 03) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set MarMargin = MarMargin + transaction.transactionAmount %}
								{% set TotalMarMargin = TotalMarMargin + transaction.transactionAmount %}
							{% else %}
								{% set MarMargin = MarMargin - transaction.transactionAmount %}
								{% set TotalMarMargin = TotalMarMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 04) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set AprMargin = AprMargin + transaction.transactionAmount %}
								{% set TotalAprMargin = TotalAprMargin + transaction.transactionAmount %}
							{% else %}
								{% set AprMargin = AprMargin - transaction.transactionAmount %}
								{% set TotalAprMargin = TotalAprMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 05) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set MayMargin = MayMargin + transaction.transactionAmount %}
								{% set TotalMayMargin = TotalMayMargin + transaction.transactionAmount %}
							{% else %}
								{% set MayMargin = MayMargin - transaction.transactionAmount %}
								{% set TotalMayMargin = TotalMayMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 06) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JunMargin = JunMargin + transaction.transactionAmount %}
								{% set TotalJunMargin = TotalJunMargin + transaction.transactionAmount %}
							{% else %}
								{% set JunMargin = JunMargin - transaction.transactionAmount %}
								{% set TotalJunMargin = TotalJunMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 07) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JlyMargin = JlyMargin + transaction.transactionAmount %}
								{% set TotalJlyMargin = TotalJlyMargin + transaction.transactionAmount %}
							{% else %}
								{% set JlyMargin = JlyMargin - transaction.transactionAmount %}
								{% set TotalJlyMargin = TotalJlyMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 08) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set AugMargin = AugMargin + transaction.transactionAmount %}
								{% set TotalAugMargin = TotalAugMargin + transaction.transactionAmount %}
							{% else %}
								{% set AugMargin = AugMargin - transaction.transactionAmount %}
								{% set TotalAugMargin = TotalAugMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 09) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set SepMargin = SepMargin + transaction.transactionAmount %}
								{% set TotalSepMargin = TotalSepMargin + transaction.transactionAmount %}
							{% else %}
								{% set SepMargin = SepMargin - transaction.transactionAmount %}
								{% set TotalSepMargin = TotalSepMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 10) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set OctMargin = OctMargin + transaction.transactionAmount %}
								{% set TotalOctMargin = TotalOctMargin + transaction.transactionAmount %}
							{% else %}
								{% set OctMargin = OctMargin -transaction.transactionAmount %}
								{% set TotalOctMargin = TotalOctMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 11) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set NovMargin = NovMargin + transaction.transactionAmount %}
								{% set TotalNovMargin = TotalNovMargin + transaction.transactionAmount %}
							{% else %}
								{% set NovMargin = NovMargin - transaction.transactionAmount %}
								{% set TotalNovMargin = TotalNovMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.dateIssued|date("m") == 12) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set DecMargin = DecMargin + transaction.transactionAmount %}
								{% set TotalDecMargin = TotalDecMargin + transaction.transactionAmount %}
							{% else %}
								{% set DecMargin = DecMargin - transaction.transactionAmount %}
								{% set TotalDecMargin = TotalDecMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% endfor %}

			<tr>
				<td>{{ home.number }} , {{ home.name }}</td>
				<td
				{% if CurrentMonth == 1 %}
					class="font-weight-bold"
				{% endif %}
				{% if JanMargin > 0 %}
					style="color:green"
				{% elseif JanMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ JanMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 2 %}
					class="font-weight-bold"
				{% endif %}
				{% if FebMargin > 0 %}
					style="color:green"
				{% elseif FebMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ FebMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 3 %}
					class="font-weight-bold"
				{% endif %}
				{% if MarMargin > 0 %}
					style="color:green"
				{% elseif MarMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ MarMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 4 %}
					class="font-weight-bold"
				{% endif %}
				{% if AprMargin > 0 %}
					style="color:green"
				{% elseif AprMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ AprMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 5 %}
					class="font-weight-bold"
				{% endif %}
				{% if MayMargin > 0 %}
					style="color:green"
				{% elseif MayMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ MayMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 6 %}
					class="font-weight-bold"
				{% endif %}
				{% if JunMargin > 0 %}
					style="color:green"
				{% elseif JunMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ JunMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 7 %}
					class="font-weight-bold"
				{% endif %}
				{% if JlyMargin > 0 %}
					style="color:green"
				{% elseif JlyMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ JlyMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 8 %}
					class="font-weight-bold"
				{% endif %}
				{% if AugMargin > 0 %}
					style="color:green"
				{% elseif AugMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ AugMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 9 %}
					class="font-weight-bold"
				{% endif %}
				{% if SepMargin > 0 %}
					style="color:green"
				{% elseif SepMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ SepMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 10 %}
					class="font-weight-bold"
				{% endif %}
				{% if OctMargin > 0 %}
					style="color:green"
				{% elseif OctMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ OctMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 11 %}
					class="font-weight-bold"
				{% endif %}
				{% if NovMargin > 0 %}
					style="color:green"
				{% elseif NovMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ NovMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 12 %}
					class="font-weight-bold"
				{% endif %}
				{% if DecMargin > 0 %}
					style="color:green"
				{% elseif DecMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ DecMargin|number_format(2, '.', ',') }}</td>
				{% set CummulativeMonthlyMargin =  JanMargin + FebMargin + MarMargin + AprMargin + MayMargin + JunMargin + JlyMargin + AugMargin + SepMargin + OctMargin + NovMargin + DecMargin%}
				<td
				{% if CummulativeMonthlyMargin > 0 %}
					style="color:green"
				{% elseif CummulativeMonthlyMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ CummulativeMonthlyMargin|number_format(2, '.', ',') }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td>Total</td>
				<td
				{% if CurrentMonth == 1 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalJanMargin > 0 %}
					style="color:green"
				{% elseif TotalJanMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalJanMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 2 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalFebMargin > 0 %}
					style="color:green"
				{% elseif TotalFebMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalFebMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 3 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalMarMargin > 0 %}
					style="color:green"
				{% elseif TotalMarMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalMarMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 4 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalAprMargin > 0 %}
					style="color:green"
				{% elseif TotalAprMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalAprMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 5 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalMayMargin > 0 %}
					style="color:green"
				{% elseif TotalMayMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalMayMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 6 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalJunMargin > 0 %}
					style="color:green"
				{% elseif TotalJunMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalJunMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 7 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalJlyMargin > 0 %}
					style="color:green"
				{% elseif TotalJlyMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalJlyMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 8 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalAugMargin > 0 %}
					style="color:green"
				{% elseif TotalAugMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalAugMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 9 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalSepMargin > 0 %}
					style="color:green"
				{% elseif TotalSepMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalSepMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 10 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalOctMargin > 0 %}
					style="color:green"
				{% elseif TotalOctMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalOctMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 11 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalNovMargin > 0 %}
					style="color:green"
				{% elseif TotalNovMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalNovMargin|number_format(2, '.', ',') }}</td>
				<td 
				{% if CurrentMonth == 12 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalDecMargin > 0 %}
					style="color:green"
				{% elseif TotalDecMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalDecMargin|number_format(2, '.', ',') }}</td>
				{% set CummulativeTotalMonthlyMargin = TotalJanMargin + TotalFebMargin + TotalMarMargin + TotalAprMargin + TotalMayMargin + TotalJunMargin + TotalJlyMargin + TotalAugMargin + TotalSepMargin + TotalOctMargin + TotalNovMargin + TotalDecMargin %}
				<td class="font-weight-bold"
				{% if CummulativeTotalMonthlyMargin > 0 %}
					style="color:green"
				{% elseif CummulativeTotalMonthlyMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ CummulativeTotalMonthlyMargin|number_format(2, '.', ',')  }}</td>
			</tr>

		</table>
	</div>

	<div class="col-lg-12">

	<h1> Laporan Kutipan </h1>
		<table class="table table-responsive table-bordered">
			{% set TotalJanMargin = 0 %}
			{% set TotalFebMargin = 0 %}
			{% set TotalMarMargin = 0 %}

			{% set TotalAprMargin = 0 %}
			{% set TotalMayMargin = 0 %}
			{% set TotalJunMargin = 0 %}

			{% set TotalJlyMargin = 0 %}
			{% set TotalAugMargin = 0 %}
			{% set TotalSepMargin = 0 %}

			{% set TotalOctMargin = 0 %}
			{% set TotalNovMargin = 0 %}
			{% set TotalDecMargin = 0 %}
			<tr>
				<th>Rumah</th>
				<th>Januari</th>
				<th>Februari</th>
				<th>Mac</th>

				<th>April</th>
				<th>Mei</th>
				<th>Jun</th>

				<th>Julai</th>
				<th>Ogos</th>
				<th>September</th>

				<th>Oktober</th>
				<th>November</th>
				<th>Disember</th>
				<th>Jumlah Semasa Setiap Rumah</th>
			</tr>

			{% for home in homes if home.deletedAt == null %}
				{% set JanMargin = 0 %}
				{% set FebMargin = 0 %}
				{% set MarMargin = 0 %}

				{% set AprMargin = 0 %}
				{% set MayMargin = 0 %}
				{% set JunMargin = 0 %}

				{% set JlyMargin = 0 %}
				{% set AugMargin = 0 %}
				{% set SepMargin = 0 %}

				{% set OctMargin = 0 %}
				{% set NovMargin = 0 %}
				{% set DecMargin = 0 %}

				{% set processedTransactionID = [] %}
				{% for contract in home.contracts if contract.deletedAt == null %}

					{% for transaction in contract.person.transactions if transaction.deletedAt == null 
					and contract.person.deletedAt == null
					and transaction.datePaid|date("Y") == year 
					and transaction.datePaid != null 
					and transaction.id not in processedTransactionID %}
					{% set processedTransactionID = processedTransactionID|merge([transaction.id])  %}

						{% if(transaction.datePaid|date("m") == 1) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JanMargin = JanMargin + transaction.transactionAmount %}
								{% set TotalJanMargin = TotalJanMargin + transaction.transactionAmount %}
							{% else %}
								{% set JanMargin = JanMargin - transaction.transactionAmount %}
								{% set TotalJanMargin = TotalJanMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 2) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set FebMargin = FebMargin + transaction.transactionAmount %}
								{% set TotalFebMargin = TotalFebMargin + transaction.transactionAmount %}
							{% else %}
								{% set FebMargin = FebMargin - transaction.transactionAmount %}
								{% set TotalFebMargin = TotalFebMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 3) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set MarMargin = MarMargin + transaction.transactionAmount %}
								{% set TotalMarMargin = TotalMarMargin + transaction.transactionAmount %}
							{% else %}
								{% set MarMargin = MarMargin - transaction.transactionAmount %}
								{% set TotalMarMargin = TotalMarMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 4) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set AprMargin = AprMargin + transaction.transactionAmount %}
								{% set TotalAprMargin = TotalAprMargin + transaction.transactionAmount %}
							{% else %}
								{% set AprMargin = AprMargin - transaction.transactionAmount %}
								{% set TotalAprMargin = TotalAprMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 5) %}
							{% if transaction.transactionType == "DEBIT" %}
								
								{% set MayMargin = MayMargin + transaction.transactionAmount %}
								{% set TotalMayMargin = TotalMayMargin + transaction.transactionAmount %}
							{% else %}
								{% set MayMargin = MayMargin - transaction.transactionAmount %}
								{% set TotalMayMargin = TotalMayMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 6) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JunMargin = JunMargin + transaction.transactionAmount %}
								{% set TotalJunMargin = TotalJunMargin + transaction.transactionAmount %}
							{% else %}
								{% set JunMargin = JunMargin - transaction.transactionAmount %}
								{% set TotalJunMargin = TotalJunMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 7) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JlyMargin = JlyMargin + transaction.transactionAmount %}
								{% set TotalJlyMargin = TotalJlyMargin + transaction.transactionAmount %}
							{% else %}
								{% set JlyMargin = JlyMargin - transaction.transactionAmount %}
								{% set TotalJlyMargin = TotalJlyMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 8) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set AugMargin = AugMargin + transaction.transactionAmount %}
								{% set TotalAugMargin = TotalAugMargin + transaction.transactionAmount %}
							{% else %}
								{% set AugMargin = AugMargin - transaction.transactionAmount %}
								{% set TotalAugMargin = TotalAugMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 9) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set SepMargin = SepMargin + transaction.transactionAmount %}
								{% set TotalSepMargin = TotalSepMargin + transaction.transactionAmount %}
							{% else %}
								{% set SepMargin = SepMargin - transaction.transactionAmount %}
								{% set TotalSepMargin = TotalSepMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 10) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set OctMargin = OctMargin + transaction.transactionAmount %}
								{% set TotalOctMargin = TotalOctMargin + transaction.transactionAmount %}
							{% else %}
								{% set OctMargin = OctMargin - transaction.transactionAmount %}
								{% set TotalOctMargin = TotalOctMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 11) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set NovMargin = NovMargin + transaction.transactionAmount %}
								{% set TotalNovMargin = TotalNovMargin + transaction.transactionAmount %}
							{% else %}
								{% set NovMargin = NovMargin - transaction.transactionAmount %}
								{% set TotalNovMargin = TotalNovMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 12) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set DecMargin = DecMargin + transaction.transactionAmount %}
								{% set TotalDecMargin = TotalDecMargin + transaction.transactionAmount %}
							{% else %}
								{% set DecMargin = DecMargin - transaction.transactionAmount %}
								{% set TotalDecMargin = TotalDecMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
					{% endfor %}

				{% endfor %}
				
				{% for room in home.rooms if room.deletedAt == null %}
				{% for contract in room.contracts if contract.deletedAt == null %}

					{% for transaction in contract.person.transactions if transaction.deletedAt == null 
					and transaction.datePaid|date("Y") == year
					and transaction.datePaid != null
					and transaction.id not in processedTransactionID %}
						{% set processedTransactionID = processedTransactionID|merge([transaction.id])  %}
						{% if(transaction.datePaid|date("m") == 1) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JanMargin = JanMargin + transaction.transactionAmount %}
								{% set TotalJanMargin = TotalJanMargin + transaction.transactionAmount %}
							{% else %}
								{% set JanMargin = JanMargin - transaction.transactionAmount %}
								{% set TotalJanMargin = TotalJanMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 2) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set FebMargin = FebMargin + transaction.transactionAmount %}
								{% set TotalFebMargin = TotalFebMargin + transaction.transactionAmount %}
							{% else %}
								{% set FebMargin = FebMargin - transaction.transactionAmount %}
								{% set TotalFebMargin = TotalFebMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 3) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set MarMargin = MarMargin + transaction.transactionAmount %}
								{% set TotalMarMargin = TotalMarMargin + transaction.transactionAmount %}
							{% else %}
								{% set MarMargin = MarMargin - transaction.transactionAmount %}
								{% set TotalMarMargin = TotalMarMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 4) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set AprMargin = AprMargin + transaction.transactionAmount %}
								{% set TotalAprMargin = TotalAprMargin + transaction.transactionAmount %}
							{% else %}
								{% set AprMargin = AprMargin - transaction.transactionAmount %}
								{% set TotalAprMargin = TotalAprMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 5) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set MayMargin = MayMargin + transaction.transactionAmount %}
								{% set TotalMayMargin = TotalMayMargin + transaction.transactionAmount %}
							{% else %}
								{% set MayMargin = MayMargin - transaction.transactionAmount %}
								{% set TotalMayMargin = TotalMayMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 6) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JunMargin = JunMargin + transaction.transactionAmount %}
								{% set TotalJunMargin = TotalJunMargin + transaction.transactionAmount %}
							{% else %}
								{% set JunMargin = JunMargin - transaction.transactionAmount %}
								{% set TotalJunMargin = TotalJunMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 7) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set JlyMargin = JlyMargin + transaction.transactionAmount %}
								{% set TotalJlyMargin = TotalJlyMargin + transaction.transactionAmount %}
							{% else %}
								{% set JlyMargin = JlyMargin - transaction.transactionAmount %}
								{% set TotalJlyMargin = TotalJlyMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 8) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set AugMargin = AugMargin + transaction.transactionAmount %}
								{% set TotalAugMargin = TotalAugMargin + transaction.transactionAmount %}
							{% else %}
								{% set AugMargin = AugMargin - transaction.transactionAmount %}
								{% set TotalAugMargin = TotalAugMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 9) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set SepMargin = SepMargin + transaction.transactionAmount %}
								{% set TotalSepMargin = TotalSepMargin + transaction.transactionAmount %}
							{% else %}
								{% set SepMargin = SepMargin - transaction.transactionAmount %}
								{% set TotalSepMargin = TotalSepMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 10) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set OctMargin = OctMargin + transaction.transactionAmount %}
								{% set TotalOctMargin = TotalOctMargin + transaction.transactionAmount %}
							{% else %}
								{% set OctMargin = OctMargin -transaction.transactionAmount %}
								{% set TotalOctMargin = TotalOctMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 11) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set NovMargin = NovMargin + transaction.transactionAmount %}
								{% set TotalNovMargin = TotalNovMargin + transaction.transactionAmount %}
							{% else %}
								{% set NovMargin = NovMargin - transaction.transactionAmount %}
								{% set TotalNovMargin = TotalNovMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
						{% if(transaction.datePaid|date("m") == 12) %}
							{% if transaction.transactionType == "DEBIT" %}
								{% set DecMargin = DecMargin + transaction.transactionAmount %}
								{% set TotalDecMargin = TotalDecMargin + transaction.transactionAmount %}
							{% else %}
								{% set DecMargin = DecMargin - transaction.transactionAmount %}
								{% set TotalDecMargin = TotalDecMargin - transaction.transactionAmount %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% endfor %}

			<tr>
				<td>{{ home.number }} , {{ home.name }}</td>
				<td
				{% if CurrentMonth == 1 %}
					class="font-weight-bold"
				{% endif %}
				{% if JanMargin > 0 %}
					style="color:green"> MYR{{ JanMargin|number_format(2, '.', ',') }}
				{% elseif JanMargin < 0 %}
					style="color:red"> - MYR{{ JanMargin * -1|number_format(2, '.', ',') }}
				{% else %}
					> MYR{{ JanMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>
				<td
				{% if CurrentMonth == 2 %}
					class="font-weight-bold"
				{% endif %}
				{% if FebMargin > 0 %}
					style="color:green">MYR{{ FebMargin|number_format(2, '.', ',') }}
				{% elseif FebMargin < 0 %}
					style="color:red"> - MYR{{ FebMargin * -1 |number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ FebMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>
				<td
				{% if CurrentMonth == 3 %}
					class="font-weight-bold"
				{% endif %}
				{% if MarMargin > 0 %}
					style="color:green">MYR{{ MarMargin|number_format(2, '.', ',') }}
				{% elseif MarMargin < 0 %}
					style="color:red"> - MYR{{ MarMargin * -1|number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ MarMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>

				<td
				{% if CurrentMonth == 4 %}
					class="font-weight-bold"
				{% endif %}
				{% if AprMargin > 0 %}
					style="color:green">MYR{{ AprMargin|number_format(2, '.', ',') }}
				{% elseif AprMargin < 0 %}
					style="color:red"> - MYR{{ AprMargin * -1|number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ AprMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>
				<td
				{% if CurrentMonth == 5 %}
					class="font-weight-bold"
				{% endif %}
				{% if MayMargin > 0 %}
					style="color:green">MYR{{ MayMargin|number_format(2, '.', ',') }}
				{% elseif MayMargin < 0 %}
					style="color:red"> - MYR{{ MayMargin * -1|number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ MayMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>
				<td
				{% if CurrentMonth == 6 %}
					class="font-weight-bold"
				{% endif %}
				{% if JunMargin > 0 %}
					style="color:green">MYR{{ JunMargin|number_format(2, '.', ',') }}
				{% elseif JunMargin < 0 %}
					style="color:red"> - MYR{{ JunMargin * -1 |number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ JunMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>

				<td
				{% if CurrentMonth == 7 %}
					class="font-weight-bold"
				{% endif %}
				{% if JlyMargin > 0 %}
					style="color:green" >MYR{{ JlyMargin|number_format(2, '.', ',') }}
				{% elseif JlyMargin < 0 %}
					style="color:red" > - MYR{{ JlyMargin * -1 |number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ JlyMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>
				<td
				{% if CurrentMonth == 8 %}
					class="font-weight-bold"
				{% endif %}
				{% if AugMargin > 0 %}
					style="color:green" >MYR{{ AugMargin|number_format(2, '.', ',') }}
				{% elseif AugMargin < 0 %}
					style="color:red" > - MYR{{ AugMargin * -1|number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ AugMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>
				<td
				{% if CurrentMonth == 9 %}
					class="font-weight-bold"
				{% endif %}
				{% if SepMargin > 0 %}
					style="color:green">MYR{{ SepMargin|number_format(2, '.', ',') }}
				{% elseif SepMargin < 0 %}
					style="color:red"> - MYR{{ SepMargin * -1|number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ SepMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>

				<td
				{% if CurrentMonth == 10 %}
					class="font-weight-bold"
				{% endif %}
				{% if OctMargin > 0 %}
					style="color:green">MYR{{ OctMargin|number_format(2, '.', ',') }}
				{% elseif OctMargin < 0 %}
					style="color:red"> - MYR{{ OctMargin * -1|number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ OctMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>
				<td
				{% if CurrentMonth == 11 %}
					class="font-weight-bold"
				{% endif %}
				{% if NovMargin > 0 %}
					style="color:green" >MYR{{ NovMargin|number_format(2, '.', ',') }}</td>
				{% elseif NovMargin < 0 %}
					style="color:red" > - MYR{{ NovMargin * -1|number_format(2, '.', ',') }}</td>
				{% else %}
					>MYR{{ NovMargin|number_format(2, '.', ',') }}</td>
				{% endif %}
				
				<td
				{% if CurrentMonth == 12 %}
					class="font-weight-bold"
				{% endif %}
				{% if DecMargin > 0 %}
					style="color:green">MYR{{ DecMargin|number_format(2, '.', ',') }}
				{% elseif DecMargin < 0 %}
					style="color:red"> - MYR{{ DecMargin * -1 |number_format(2, '.', ',') }}
				{% else %}
					>MYR{{ DecMargin|number_format(2, '.', ',') }}
				{% endif %}
				</td>
				{% set CummulativeMonthlyMargin =  JanMargin + FebMargin + MarMargin + AprMargin + MayMargin + JunMargin + JlyMargin + AugMargin + SepMargin + OctMargin + NovMargin + DecMargin%}
				<td
				{% if CummulativeMonthlyMargin > 0 %}
					style="color:green"
				{% elseif CummulativeMonthlyMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ CummulativeMonthlyMargin|number_format(2, '.', ',') }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td>Total</td>
				<td
				{% if CurrentMonth == 1 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalJanMargin > 0 %}
					style="color:green"
				{% elseif TotalJanMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalJanMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 2 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalFebMargin > 0 %}
					style="color:green"
				{% elseif TotalFebMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalFebMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 3 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalMarMargin > 0 %}
					style="color:green"
				{% elseif TotalMarMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalMarMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 4 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalAprMargin > 0 %}
					style="color:green"
				{% elseif TotalAprMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalAprMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 5 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalMayMargin > 0 %}
					style="color:green"
				{% elseif TotalMayMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalMayMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 6 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalJunMargin > 0 %}
					style="color:green"
				{% elseif TotalJunMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalJunMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 7 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalJlyMargin > 0 %}
					style="color:green"
				{% elseif TotalJlyMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalJlyMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 8 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalAugMargin > 0 %}
					style="color:green"
				{% elseif TotalAugMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalAugMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 9 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalSepMargin > 0 %}
					style="color:green"
				{% elseif TotalSepMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalSepMargin|number_format(2, '.', ',') }}</td>

				<td
				{% if CurrentMonth == 10 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalOctMargin > 0 %}
					style="color:green"
				{% elseif TotalOctMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalOctMargin|number_format(2, '.', ',') }}</td>
				<td
				{% if CurrentMonth == 11 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalNovMargin > 0 %}
					style="color:green"
				{% elseif TotalNovMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalNovMargin|number_format(2, '.', ',') }}</td>
				<td 
				{% if CurrentMonth == 12 %}
					class="font-weight-bold"
				{% endif %}
				{% if TotalDecMargin > 0 %}
					style="color:green"
				{% elseif TotalDecMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ TotalDecMargin|number_format(2, '.', ',') }}</td>
				{% set CummulativeTotalMonthlyMargin = TotalJanMargin + TotalFebMargin + TotalMarMargin + TotalAprMargin + TotalMayMargin + TotalJunMargin + TotalJlyMargin + TotalAugMargin + TotalSepMargin + TotalOctMargin + TotalNovMargin + TotalDecMargin %}
				<td class="font-weight-bold"
				{% if CummulativeTotalMonthlyMargin > 0 %}
					style="color:green"
				{% elseif CummulativeTotalMonthlyMargin < 0 %}
					style="color:red"
				{% else %}
				{% endif %}
				>MYR{{ CummulativeTotalMonthlyMargin|number_format(2, '.', ',')  }}</td>
			</tr>

		</table>


	</div>

	

{% endblock %}
