<form method="post" action="{{ path('person_delete', {'personId': person.personId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.personId) }}">
    <button class="btn btn-danger">Singkirkan</button>
</form>