{% extends 'base.html.twig' %}

{% block title %}Sunting Kenalan{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
        <div class="card">
            {% if person.class == "App\\Entity\\Tenant"%}
                <h1 class="card-header">Sunting Penyewa</h1>
            {% else %}
                <h1 class="card-header">Sunting Pemilik</h1>
            {% endif %}
            <div class="card-body">
    	      {{ include('person/_form.html.twig', {'button_label': 'Kemaskini'}) }}
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-4">
    	    {% if person.class == "App\\Entity\\Tenant" %}
        <a href="{{ path('person_index_tenant') }}">Kembali Ke Senarai Penyewa</a>
    {% else %}
        <a href="{{ path('person_index_owner') }}">Kembali Ke Senarai Pemilik</a>
    {% endif %}
    </div>
    </div>
    </div>
</div>
{% endblock %}