{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
<div class="container">
<br><br>
<div class="card">
    {% if person.class == "App\\Entity\\Tenant" %}
       <h1 class="card-header">Butiran Penyewa</h1>
    {% else  %}
        <h1 class="card-header">Butiran Pemilik</h1>
    {% endif %}

    <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Pengenalan </th>
                <td>{{ person.identificationType }} : {{ person.identificationNo }}</td>
            </tr>
            <tr>
                <th>Nama</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>E-mel</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>No. Telefon</th>
                <td>{{ person.telefonNumber }}</td>
            </tr>
            <tr>
                <th>Alamat Surat Menyurat</th>
                <td>{{ person.currentAddress }}</td>
            </tr>
            <tr>
                <th>Nama Rujukan</th>
                <td>{{ person.referenceName }}</td>
            </tr>
            <tr>
                <th>No Telefon Rujukan</th>
                <td>{{ person.referenceNumber }}</td>
            </tr>
            <tr>
                <th>Hubungan Rujukan</th>
                <td>{{ person.referenceRelationship }}</td>
            </tr>
            
            {% if person.class == "App\\Entity\\Owner" %}
            <tr>
                <th>Alamat Rumah Sewa:</th>
                <td>
                {% for contract in person.contracts if contract.deletedAt == null %}
                    {{ contract.place.homeAddress }}
                {% endfor %}
                </td>
            </tr>
            {% else %}
            <tr>
                <th>Alamat Rumah Sewa:</th>
                <td>
                {% for contract in person.contracts if contract.deletedAt == null %}
                    {{ contract.place.number }}, {{ contract.place.home.homeAddress }}<br>
                {% endfor %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
     <div class="btn-group" role="group">
        <a class="btn btn-warning" href="{{ path('person_edit', {'personId': person.personId}) }}">Sunting</a>
        {{ include('person/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
    <br><br>
    <div class="col-lg-12">
    {% if person.class == "App\\Entity\\Tenant" %}
       <h2>Kontrak Penyewa</h2>
    {% else  %}
        <h2>Kontrak Pemilik</h2>
    {% endif %}
    </div>

    <div class="col-lg-12">
        <div id="contract">Loading ... </div>
    </div>

    <div class="col-lg-4">
    {% if person.class == "App\\Entity\\Tenant" %}
        <a href="{{ path('person_index_tenant') }}">Kembali Ke Senarai Penyewa</a>
    {% else %}
        <a href="{{ path('person_index_owner') }}">Kembali Ke Senarai Pemilik</a>
    {% endif %}
    </div>
    
</div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#contract').initDataTables({{ datatable_settings(contractTable) }},{
                searching: true,
                "initComplete": function( settings, json ) {
                     $('#dt tbody').on('click', 'tr', function () {
                            var table = $('#dt').DataTable();
                            var data = table.row( this ).data();
                            window.location.assign('{{ url('main')}}contract/' + data["contractId"])
                    } );
                }
            });
        });
    </script>
{% endblock %}