{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
    	<h1>Sunting Rekod Bilik</h1>
    </div>

    <div class="col-lg-12">
    	{{ include('room/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <br>
    <div class="col-lg-4">
    	<a href="{{ path('home_show', {'placeId': room.home.placeId })  }}">Kembali Ke Butiran Rumah</a>
    </div>
{% endblock %}