{% extends 'base.html.twig' %}

{% block title %}Kontrak Baru{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
	<div class="card">
  			<h4 class="card-header"> Maklumat Rumah</h4>
  		<div class="card-body">
		<p>
			{{ home.number }},{{ home.name }}<br>
			{{ home.homeAddress }}
		</p>
		</div>
	</div>
	</div>
	<br>
	<div class="col-lg-12">
	<div class="card">
  			<h4 class="card-header"> Maklumat Kontrak {% if edit == null %} Dahulu {% endif %} </h4>
  		<div class="card-body">
		<p>
			{% if contract == null %}
				Nama Pemilik: {{ home.contracts | last.person.name }}<br>
				{{ home.contracts | last.person.identificationType }}: {{ home.contracts | last.person.identificationNo }}<br>
				Tarikh Mula: {{ home.contracts | last.startDate|date('d-m-Y') }}<br>
				Tarikh Tamat: {{ home.contracts | last.endDate|date('d-m-Y') }}
			{% else %}
				Nama Pemilik: {{ contract.person.name }}<br>
				{{ contract.person.identificationType }}: {{ contract.person.identificationNo }}<br>
				Tarikh Mula: {{ contract.startDate|date('d-m-Y') }}<br>
				Tarikh Tamat: {{ contract.endDate|date('d-m-Y') }}
			{% endif %}
		</p>
		</div>
	</div>
	</div>
    <br>
    <div class="col-lg-12">
    <div class="card">
  			<h4 class="card-header">Borang Perbaharui Kontrak</h4>
  		<div class="card-body">
  			{{ include('home/contract/_contract_home_form.html.twig') }}
		</div>
	</div>
    </div>
</div>
{% endblock %}

