{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
<div class="container">
<br>
    <div class="col-lg-12">
        <h1>Senarai Invoice</h1>
    </div>

    <div class="col-lg-12">
        <table class="table clickableRow">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Butiran Invoice</th>
                    <th scope="col">Jumlah Keseluruhan Invoice</th>
                    <th scope="col">Jenis Invoice</th>
                    <th scope="col">Penerima/Pembayar</th>
                    <th scope="col">Tarikh Dikeluarkan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices if invoice.deletedAt == null %}
                <tr onclick="window.location.assign('{{ path('invoice_show', {'id': invoice.id })  }}')">
                    <th scope="row">{{ invoice.status }}</th>
                    <td scope="col">MYR{{ invoice.amount}}</td>
                    <td scope="col">{{ invoice.invoiceType }}</th>
                    <td scope="col">{{ invoice.person.icAndName }}</td>
                    <td scope="col">{{ invoice.dateIssued |date('d-m-Y') }}</td>
                    <td scope="col">
                        <a class="btn btn-warning" href="{{ path('invoice_edit', {'id': invoice.id}) }}">Sunting Maklumat Invoice</a>
                         {{ include('invoice/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Tiada Rekod</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('invoice_new') }}">Cipta Rekod Baru</a>
</div>
{% endblock %}