{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <h1>Invoice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ invoice.status }}</td>
            </tr>
            <tr>
                <th>InvoiceType</th>
                <td>{{ invoice.invoiceType }}</td>
            </tr>
            <tr>
                <th>DateIssued</th>
                <td>{{ invoice.dateIssued ? invoice.dateIssued|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('invoice_index') }}">back to list</a>

    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a>

{% endblock %}