{% extends 'base.html.twig' %}

{% block title %}Edit Contract{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
        <div class="card">
    		<h1 class="card-header">Sunting Kontrak</h1>
    		<div class="card-body">
   	 			{{ include('contract/_form.html.twig', {'button_label': 'Kemaskini'}) }}
    			
    		</div>
    	</div>
    	<a href="{{ path('person_show', {'personId': contract.person.personId}) }}">Kembali</a>
    </div>
{% endblock %}