{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
<div class="container">
<br> 
    {% if tenantIndex is defined %}
    <div class="row">
        <div class="col-lg-6">
            <h1>Senarai {% if tableTitle is defined%} {{ tableTitle }}{% else %} Kenalan{% endif %} </h1>
        </div>

        <div class="col-lg-6 pull-right text-center">
            {% if tableTitle == "Penyewa Tidak Aktif" %}
                <a class="btn btn-info" href="{{ path('person_index_tenant') }}">Penyewa Aktif</a>
            {% else %}
                <a class="btn btn-dark" href="{{ path('person_index_past_tenant') }}">Penyewa Tidak Aktif</a>
            {% endif %}
        </div>

    </div>
    {% else %}
        <div class="col-lg-12">
            <h1>Senarai {% if tableTitle is defined%} {{ tableTitle }}{% else %} Kenalan{% endif %} </h1>
        </div>
    {% endif %}

    <div class="col-lg-12">
        <div id="people">Loading ... </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(document).ready(function() {
            var table = $('#people').initDataTables({{ datatable_settings(table) }},{
                searching: true,
                responsive: true,
                "initComplete": function( settings, json ) {
                     $('#dt tbody').on('click', 'tr', function () {
                            var table = $('#dt').DataTable();
                            var data = table.row( this ).data();
                            window.location.assign('{{ url('main')}}person/' + data["personId"])
                    } );
                }
            });

        });

       
    </script>
{% endblock %}