<!DOCTYPE html>
<html>
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <!-- in the <head> section -->
    {% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <style>
    .clickableRow tr {
      cursor: pointer;
    }
    </style>
    <title>{% block title %}{% endblock %}</title>
  </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{{ asset('M.jpeg') }}" width="100" height="100">  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER')%}
      <li class="nav-item">
        <a class="nav-link {%if main is defined%} active {% endif %}" href="{{ path('main') }}">Paparan Utama</a>
      </li>
      <li class="nav-item dropdown {%if tracker is defined %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pemantauan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {%if tenantContractTracker is defined %} active {% endif %}" href="{{ path('tenantContractTracker') }}">Pemantauan Penyewa</a>
          <a class="dropdown-item {%if ownerContractTracker is defined %} active {% endif %}" href="{{ path('ownerContractTracker') }}">Pemantauan Pemilik</a>
        </div>
      </li>


      <li class="nav-item dropdown {%if person_link is defined %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kenalan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {%if tenantIndex is defined %} active {% endif %}" href="{{ path('person_index_tenant') }}">Penyewa</a>
          <a class="dropdown-item {%if ownerIndex is defined %} active {% endif %}" href="{{ path('person_index_owner') }}">Pemilik</a>
          <a class="dropdown-item {%if user_index is defined %} active {% endif %}" href="{{ path('user_index') }}">Staff</a>
        </div>
      </li>

        <li class="nav-item dropdown {%if home_link is defined %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kediaman
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {%if home_index is defined %} active {% endif %}" href="{{ path('home_index') }}">Senarai Kediaman</a>
          <a class="dropdown-item {%if home_new is defined %} active {% endif %}" href="{{ path('home_new') }}">Tambah Kediaman</a>
        </div>
      </li>
      <!--
      <li class="nav-item dropdown {%if room_link is defined %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bilik
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {%if room_index is defined %} active {% endif %}" href="{{ path('room_index') }}">Senarai Bilik</a>
          <a class="dropdown-item {%if room_new is defined %} active {% endif %}" href="{{ path('room_new') }}">Tambah Bilik</a>
          <a class="dropdown-item {%if room_tenantNew is defined %} active {% endif %}" href="{{ path('room_tenantNew') }}">Daftar Penyewa Baru</a>
        </div>
      </li>
    -->
      <li class="nav-item dropdown {%if transaction_link is defined %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pembayaran
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {%if transaction_index is defined %} active {% endif %}" href="{{ path('transaction_index') }}">Senarai Pembayaran</a>
          <a class="dropdown-item {%if transaction_new is defined %} active {% endif %}" href="{{ path('transaction_new') }}">Pembayaran Baru</a>
        </div>
      </li>
      <!--
      <li class="nav-item dropdown {%if invoice_link is defined %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Invois
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {%if invoice_index is defined %} active {% endif %}" href="{{ path('invoice_index') }}">Senarai Invois</a>
          <a class="dropdown-item {%if invoice_new is defined %} active {% endif %}" href="{{ path('invoice_new') }}">Tambah Invois</a>
        </div>
      </li>
    -->
      <li class="nav-item dropdown {%if report is defined %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Laporan Kewangan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {%if montlySalesReport is defined %} active {% endif %}" href="{{ path('montlySalesReport',{ 'month': "now" | date('m'), 'year' : "now" | date('Y')}) }}">Laporan Bulanan</a>
          <a class="dropdown-item {%if yearlySalesReport is defined %} active {% endif %}" href="{{ path('yearlySalesReport',{'year' : "now" | date('Y')}) }}">Laporan Tahunan</a>
        </div>
      </li>
{% endif %}
        <li class="nav-item">
        <a class="nav-link {% if new_tenant is defined %} active {% endif %}" href='{{ path('room_tenantNew') }}'>Pendaftaran Penyewa Baru</a>
      </li>
    
    <form class="form-inline my-2 my-lg-0">
       <a class="nav-link" href="{{ url('logout')}}">Log Keluar</a>
    </form>
    {% endif %}
  </div>
</nav>
        {% block body %}{% endblock %}
        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <!-- before the closing <body> tag -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>