{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
<br>
	<div class="col-lg-12">
		<h1>Pemantau Pemilik</h1>
	</div>
	<br><br>
	<table class="table table-responsive">
		<tr>
			<th>Nama Pemilik</th>
			<th>Alamat</th>
			<th>No. Telefon</th>
			<th>Tarikh Kontrak Mula</th>
			<th>Tarikh Kontrak Tamat</th>
			<th>Bayaran 3 Bulan Terakhir</th>

		</tr>
		{% for home in homes if home.deletedAt == null  %}
		<tr>
			<td>{{ home.contracts | last.person.name }}</td>
			<td>{{ home.homeAddress }}
			<td>{{ home.contracts | last.person.telefonNumber }}</td>
			<td>{{ home.contracts | last.startDate|date('d-m-Y') }}</td>
			<td>{{ home.contracts | last.endDate|date('d-m-Y') }}</td>
			<td>
				{% for transaction in home.contracts | last.person.transactions if (transaction.deletedAt == null) and (transaction.dateIssued > 'now'|date_modify("-90 days")) %}
					{%if transaction.status == "PENDING" %}
						<div style="color:red">
							{{ transaction.transactionDescription }} : RM{{ transaction.transactionAmount}} [{{ transaction.status }}] <br>
						</div>
					{% else %}
							{{ transaction.transactionDescription }} : RM{{ transaction.transactionAmount}} [{{ transaction.status }}] <br>
					{% endif %}
				{% else %}
						Tiada Rekod
				{% endfor %}
			</td>

		</tr>
		{% else %}
		<tr>
			Tiada Rekod
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
