{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
	<div class="col-lg-12">
		<h1>Pemantau Penyewa</h1>
	</div>
	{% for home in homes if home.deletedAt == null %}
		<br><br>
		<div class="col-lg-12">
			<h2>{{ home.Number }}, {{ home.Name }} </h2>
		</div>
			{% for room in home.rooms if room.deletedAt == null %}
				{% if room.contracts | length != 0 %}
				<div class="col-lg-12">
					<div class="card">
						<h3 class="card-header">{{ room.Number }}</h3>
						<div class="card-body">
							<table class="table table-responsive">
								<thead>
									<tr>
										<th>Nama Penyewa</th>
										<th>No. Telefon</th>
										<th>Tarikh Kontrak Mula</th>
										<th>Tarikh Kontrak Tamat</th>
										<th>Bayaran 3 Bulan Terakhir</th>
									</tr>
								</thead>
								{% for contract in room.contracts if (contract.deletedAt == null) and (contract.startDate|date('Y-m-d') < 'now'|date('Y-m-d') and contract.endDate|date('Y-m-d') > 'now'|date('Y-m-d')) %}
								<tr>
									<td>{{ contract.person.name }}</td>
									<td>{{ contract.person.telefonNumber }}</td>
									<td>{{ contract.startDate|date('d-m-Y')}}</td>
									<td>{{ contract.endDate|date('d-m-Y')}}</td>
									<td>
										{% for transaction in contract.person.transactions if (transaction.deletedAt == null) and (transaction.dateIssued > 'now'|date_modify("-90 days")) %}
										{%if transaction.status == "PENDING" %}
										<div style="color:red">
											{{ transaction.transactionDescription }} : RM{{ transaction.transactionAmount}} [{{ transaction.status }}] <br>
										</div>
										{% else %}
											{{ transaction.transactionDescription }} : RM{{ transaction.transactionAmount}} [{{ transaction.status }}] <br>
										{% endif %}
										{% else %}
											Tiada Rekod
										{% endfor %}
									</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		{% else %}
			Tiada Rekod Rumah
		{% endfor %}
</div>

{% endblock %}
