{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
<div class="container">
<br>
    <div class="col-lg-12">
        <h1>Senarai Pembayaran</h1>
    </div>
    <div class="col-lg-12">
    <div id="transaction"></div>
    <!--
        <table class="table clickableRow">
            <thead class="thead-dark">
                <tr>
                    <th>Butiran Transaksi</th>
                    <th>Amaun Transaksi</th>
                    <th>Jenis Transaksi</th>
                    <th>Status Transaksi</th>
                    <th>Tarikh Dikeluarkan</th>
                    <th>Penerima / Pembayar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions if transaction.deletedAt == null %}
                <tr onclick="window.location.assign('{{ path('transaction_show', {'id': transaction.id}) }}')">
                    <td>{{ transaction.transactionDescription }}</td>
                    <td>MYR{{ transaction.transactionAmount }}</td>
                    <td>{{ transaction.transactionType }}</td>
                    <td>{{ transaction.status }}</td>
                    <td>{{ transaction.dateIssued ? transaction.dateIssued|date('d-m-Y') : '' }}</td>
                    <td>{{ transaction.person.icAndName }}</td>
                    <td>
                     <a class="btn btn-warning" href="{{ path('transaction_edit', {'id': transaction.id}) }}">Sunting Maklumat Transaksi</a>
                     {{ include('transaction/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Tiada Rekod</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
-->
        <a href="{{ path('transaction_new') }}">Pembayaran Baru</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#transaction').initDataTables({{ datatable_settings(transactionTable) }},{
                responsive: true,
                searching: true,
                "initComplete": function( settings, json ) {
                     $('#dt tbody').on('click', 'tr', function () {
                            var table = $('#dt').DataTable();
                            var data = table.row( this ).data();
                            window.location.assign('{{ url('main')}}transaction/' + data["transactionId"])
                    } );
                }
            });
        });
    </script>
{% endblock %}