{% extends 'base.html.twig' %}

{% block title %}Home index{% endblock %}

{% block body %}
<div class="container">
<br>
	<div class="col-lg-12">
    	<h1>Senarai Kediaman</h1>
    </div>

    <div class="col-lg-12">
    	<table class="table table-responsive clickableRow">
        	<thead class="thead-dark">
            	<tr>
                	<th scope="col">No. Kediaman</th>
                    <th scope="col">Nama Perumahan/Bangunan </th>
                	<th scope="col">Alamat </th>
                	<th scope="col">Jenis Kediaman</th>
                    <th scope="col">Tarikh Mula </th>
                    <th scope="col">Tarikh Tamat</th>
                	<th></th>
            	</tr>
        	</thead>
        	<tbody>
        	{% for home in homes if home.deletedAt == null %}
        	    <tr onclick="window.location.assign('{{ path('home_show', {'placeId': home.placeId })  }}')">
        	        <th scope="row">{{ home.number }}</th>
        	        <td scope="col">{{ home.name }}</th>
                    <td scope="col">{{ home.homeAddress }}</td>
        	        <td scope="col">{{ home.homeType }}</td>
                    <td scope="col">{{ home.contracts | last.startDate |date('d-m-Y') }}</td>
                    <td scope="col">{{ home.contracts | last.endDate |date('d-m-Y') }}</td>
        	        <td scope="col">
                         <a class="btn btn-warning" href="{{ path('home_edit', {'placeId': home.placeId}) }}">Sunting Maklumat Rumah</a>
                         {{ include('home/_delete_form.html.twig') }}
                	</td>
            	</tr>
        	{% else %}
            	<tr>
                	<td colspan="5">Tiada Rekod</td>
            	</tr>
        	{% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home_new') }}">Cipta Kediaman Baru</a>
</div>
{% endblock %}