{% extends 'base.html.twig' %}

{% block title %}Paparan Utama{% endblock %}

{% block body %}
<div class="container">
	<br>
  <div class="col-lg-12">
    <h1>Bayaran Tertunggak</h1>

    <table class="table table-responsive clickableRow">
            <thead class="thead-dark">
                <tr>
                    <th>Bilik & Rumah Sewa</th>
                    <th>Butiran Transaksi</th>
                    <th>Amaun Transaksi</th>
                    <th>Status Transaksi</th>
                    <th>Tarikh Dikeluarkan</th>
                    <th>Penerima</th>
                    <th>Pembayar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactionsPending if (transaction.deletedAt == null and transaction.dateIssued <  date() and transaction.person.deletedAt == null ) %}
                <tr style="color:red" onclick="window.location.assign('{{ path('transaction_show', {'id': transaction.id}) }}')">
                    {%if transaction.person.class == "App\\Entity\\Tenant" %}
                    <td>{{ transaction.person.contracts | last.place.number}}, {{ transaction.person.contracts | last.place.home.HomeNumberAndName }}</td>
                    {% else %}
                    <td>{{ transaction.person.contracts | last.place.HomeNumberAndName }}</td>
                    {% endif %}
                    <td>{{ transaction.transactionDescription }}</td>
                    <td>MYR{{ transaction.transactionAmount }}</td>
                    <td>{{ transaction.status }}</td>
                    <td>{{ transaction.dateIssued ? transaction.dateIssued|date('d-m-Y') : '' }}</td>
                    {% if transaction.transactionType == 'CREDIT' %}
                    <td>{{ transaction.person.icAndName }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    {% if transaction.transactionType == 'DEBIT' %}
                    <td>{{ transaction.person.icAndName }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Tiada Rekod</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  </div>

 <div class="col-lg-12">
    <h1>Bilik Kosong</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>No. Bilik</th>
          <th>Kapasiti</th>
          <th>Rumah</th>
        </tr>
      </thead>
      <tbody>
        {% for room in rooms if (room.deletedAt == null) and (room.occupant == false or (room.occupant|length < room.capacity)) %}
          <tr 
          {% if room.currentOccupant|length == room.occupant|length %}
          style="color:red"
          {% else %}
          {% endif %}
            onclick="window.location.assign('{{ path('room_show', {'placeId': room.placeId}) }}')"
          >
            <td>{{ room.number }}</td>
            <td>
            {% if room.occupant != false %} {{ room.occupant | length }} {% else %}0{% endif %}/{{ room.capacity }}
            </td>
            <td>{{ room.home.HomeNumberAndName }}</td>
          </tr>
         {% else %}
                <tr>
                    <td colspan="5">Tiada Rekod</td>
                </tr>
         {% endfor %}
      </tbody>
    </table>
  </div>


  <div class="col-lg-12">
    <h1>Kontrak Yang Akan Tamat</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Bilik Atau Rumah Sewa</th>
          <th>Nama Pemilik</th>
          <th>Nama Penyewa</th>
          <th>No. Telefon</th>
          <th>Tarikh Kontrak Tamat</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people if person.lastContract != false and person.lastContract.endDate < "now"|date_modify("+30 day") and person.lastContract.actualEndDate == null %}
          <tr style="color:red" onclick="window.location.assign('{{ path('contract_show', {'id': person.lastContract.id}) }}')">
            {% if person.class == "App\\Entity\\Owner" %}
            <td>{{ person.lastContract.place.number }}, {{ person.lastContract.place.homeNumberAndName }} </td>
            {% else %}
            <td>{{ person.lastContract.place.number }}, {{ person.lastContract.place.home.homeNumberAndName }}</td>
            {% endif %}
            {% if person.class == "App\\Entity\\Owner" %}
            <td>{{ person.name }} </td><td></td>
            {% else %}
            <td></td><td>{{ person.name }}</td>
            {% endif %}
            <td>{{ person.telefonNumber }}</td>
            <td>{{ person.lastContract.endDate | date('d-m-Y') }}</td>
          </tr>
         {% else %}
                <tr>
                    <td colspan="5">Tiada Rekod</td>
                </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-lg-12">
    <h1>Kontrak Yang Telah Tamat</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Bilik Atau Rumah Sewa</th>
          <th>Nama Pemilik</th>
          <th>Nama Penyewa</th>
          <th>No. Telefon</th>
          <th>Tarikh Kontrak Tamat</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people if person.lastContract != false and person.lastContract.endDate < date() and person.lastContract.actualEndDate == null %}
          <tr style="color:red" onclick="window.location.assign('{{ path('contract_show', {'id': person.lastContract.id}) }}')">
            {% if person.class == "App\\Entity\\Owner" %}
            <td>{{ person.lastContract.place.number }}, {{ person.lastContract.place.homeNumberAndName }} </td>
            {% else %}
            <td>{{ person.lastContract.place.number }}, {{ person.lastContract.place.home.homeNumberAndName }}</td>
            {% endif %}
            {% if person.class == "App\\Entity\\Owner" %}
            <td>{{ person.name }} </td><td></td>
            {% else %}
            <td></td><td>{{ person.name }}</td>
            {% endif %}
            <td>{{ person.telefonNumber }}</td>
            <td>{{ person.lastContract.endDate | date('d-m-Y') }}</td>
          </tr>
         {% else %}
                <tr>
                    <td colspan="5">Tiada Rekod</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>

{% set showTableCount = 0 %}
{% set thirtyDaysLater = 0 %}
{% for contract in contractsNotRenewed %}
 {% set showTable = false %} 
  {% for transaction in contract.person.transactions if transaction.deletedAt == null
    and transaction.status == "PENDING" and contract.person.deletedAt == null and transaction.dateIssued <  date()|date_modify("+30 days") %}
    {% set showTable = true %}
    {% if showTableCount == 0 %}
    <div class="col-lg-12">
      <h1>Pemulangan Deposit</h1>
    </div>
    {% set showTableCount = showTableCount + 1%}
    {% endif %}
  {% endfor %}
  {% if showTable %}
    <div class="col-lg-12">
      {% set total = 0 %}
      <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Nama</th>
          <th>Butiran Pembayaran</th>
          <th>Kemasukan</th>
          <th>Pengeluaran</th>
        </tr>
        </thead>
        {% for transaction in contract.person.transactions if transaction.status == "PENDING" %}
          <tr
            style="color:red"
            onclick="window.location.assign('{{ path('transaction_show', {'id': transaction.id}) }}')"
          > 
            <td>{{ contract.person.name }}</td>
            <td>{{ transaction.transactionDescription }}</td>
            {% if transaction.transactionType == "DEBIT" %}
              {% set total = total + transaction.transactionAmount %}
              <td>MYR{{transaction.transactionAmount}}</td>
              <td></td>
            {% else %}
            {% set total = total - transaction.transactionAmount %}
              <td></td>
              <td>MYR{{transaction.transactionAmount}}</td>
            {% endif %}
          </tr>
        {% endfor %}
          <tr>
            <td colspan="2" style="text-align:right">Jumlah</td>
            <td></td>
            {% if total < 0 %}
            <td>MYR{{ total * -1 }}</td>
            {% else %}
            <td style="color:red">-MYR{{ total }}</td>
            {% endif %}
          </tr>
      </table>
    </div>

  {% endif %}

{% endfor %}

</div>
{% endblock %}
