{% extends 'base.html.twig' %}

{% block title %}Contract index{% endblock %}

{% block body %}
    <h1>Contract index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>StartDate</th>
                <th>ActualEndDate</th>
                <th>EndDate</th>
                <th>RentDeposit</th>
                <th>RentUtility</th>
                <th>ContractType</th>
                <th>Renewal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.startDate ? contract.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.actualEndDate ? contract.actualEndDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.endDate ? contract.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.rentDeposit }}</td>
                <td>{{ contract.rentUtility }}</td>
                <td>{{ contract.contractType }}</td>
                <td>{{ contract.renewal ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('contract_show', {'id': contract.id}) }}">show</a>
                    <a href="{{ path('contract_edit', {'id': contract.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contract_new') }}">Create new</a>
{% endblock %}