{% extends 'base.html.twig' %}

{% block title %}Tukar Kata Laluan{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
    	<h1>Tukar Kata Laluan</h1>
        {% if error is not null %}

        {% endif %}
    </div>

    <div class="col-lg-12">
        <form action="{{ path('change_user_password',{ 'personId': user.personId})}}" method="POST">
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
             <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    </div>
    <br>
    <div class="col-lg-4">
    	<a href="{{ path('user_show', {'personId': user.personId })  }}">Kembali Ke Butiran Staff</a>
    </div>
{% endblock %}