{% extends 'base.html.twig' %}

{% block title %}Staff Baru{% endblock %}

{% block body %}
    <div class="container">
	<br>
	<div class="col-lg-12">
        <div class="card">
               <h1 class="card-header">Cipta Staff Baru</h1>
            <div class="card-body">
    	      {{ include('user/_form.html.twig') }}
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-4">
        <a href="{{ path('user_index') }}">Kembali Ke Senarai Staff</a>
    </div>
    </div>
    </div>
</div>
{% endblock %}