<form method="post" action="{{ path('transaction_delete', {'id': transaction.id}) }}" onsubmit="return confirm('Adakah anda pasti untuk buang transaksi ini?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
    <button class="btn btn-danger">Singkirkan</button>
</form>