{% extends 'base.html.twig' %}

{% block title %}Edit Transaction{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
{% endblock %}

{% block body %}
<div class="container">
	<br>
	<div class="col-lg-12">
    	<h1>Sunting Rekod Urusniaga</h1>
    </div>

    <div class="col-lg-12">
    	{{ include('transaction/_form.html.twig', {'button_label': 'Kemaskini'}) }}
    </div>
    <br>
    <div class="col-lg-4">
    	<a href="{{ path('transaction_index') }}">Kembali Ke Senarai</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
$(document).ready(function () {
    $('.selectpicker').selectpicker();
  });
</script>
{% endblock %}