{% extends 'base.html.twig' %}

{% block title %}Transaksi{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="col-lg-12">
        <div class="card">
            <h1 class="card-header"> Maklumat Pembayaran</h1>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Amaun Pembayaran</th>
                            <td>{{ transaction.transactionAmount }}</td>
                        </tr>
                         <tr>
                            <th>Kenyataan Pembayaran</th>
                            <td>{{ transaction.transactionDescription }}</td>
                        </tr>
                        <tr>
                            <th>Jenis Pembayaran</th>
                            <td>{{ transaction.transactionType }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ transaction.status }}</td>
                        </tr>
                        <tr>
                            <th>Tarikh Dikeluarkan</th>
                            <td>{{ transaction.dateIssued ? transaction.dateIssued|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Tarikh Dibayar</th>
                            <td>{{ transaction.datePaid ? transaction.datePaid|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Catatan Pembayaran</th>
                            <td>{{ transaction.transactionRemark }}</td>
                        </tr>
                </tbody>
            </table>
            <div class="btn-group">
            {% if transaction.datePaid == null %}
            <a class="btn btn-info" href="{{ path('transaction_paid', {'id': transaction.id}) }}">Dah Dibayar</a>
            {% endif %}
            <a class="btn btn-warning" href="{{ path('transaction_edit', {'id': transaction.id}) }}">Sunting</a>
                     {{ include('transaction/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-12">
        <div class="card">
            <h1 class="card-header"> 
            Maklumat 
            {% if transaction.transactionType == "DEBIT" %}
                Pembayar  
            {% else %}
                Penerima
            {% endif %}
            </h1>
            <div class="card-body">
                <table class="table">
                    <tbody>
                         <tr>
                             <th>Nama Penerima / Pemberi</th>
                             <td>{{ transaction.person.name }}</td>
                         </tr>
                         <tr>
                             <th> No. Telefon</th>
                             <td>{{ transaction.person.telefonNumber}}</td>
                         </tr>
                         <tr>
                            {% if transaction.person.class == "App\\Entity\\Tenant" %}
                            <th>Alamat Rumah Sewa</th>
                            <td>
                                {{ transaction.person.contracts | last.place.home.number }},<br>
                                {{ transaction.person.contracts | last.place.home.name }},<br>
                                {{ transaction.person.contracts | last.place.home.homeAddress }}
                            </td>
                            {% elseif transaction.person.class == "App\\Entity\\Owner" %}
                            <th>Alamat Rumah Sewa</th>
                            <td>
                                {{ transaction.person.contracts | last.place.number }},<br>
                                {{ transaction.person.contracts | last.place.name }},<br>
                                {{ transaction.person.contracts | last.place.homeAddress }}
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('transaction_index') }}">Kembali Ke Senarai</a>
</div>
{% endblock %}