<form method="post" action="{{ path('user_delete', {'personId': user.personId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.personId) }}">
    <button class="btn btn-danger">Singkirkan</button>
</form>