{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
<div class="col-lg-12">
    <h1>Senarai Staff</h1>
</div>
<div class="col-lg-12">
    <div id="user">Loading ...</div>
</div>

    <a href="{{ path('user_new') }}">Cipta Staff Baru</a>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#user').initDataTables({{ datatable_settings(table) }},{
                searching: true,
                "initComplete": function( settings, json ) {
                     $('#dt tbody').on('click', 'tr', function () {
                            var table = $('#dt').DataTable();
                            var data = table.row( this ).data();
                            window.location.assign('{{ url('main')}}user/' + data["personId"])
                    } );
                }
            });
        });
    </script>
{% endblock %}