{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
<br><br>
<div class="card">

    <h1 class="card-header">Butiran Staff</h1>


    <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Pengenalan </th>
                <td>{{ user.identificationType }} : {{ user.identificationNo }}</td>
            </tr>
            <tr>
                <th>Nama</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>E-mel</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>No. Telefon</th>
                <td>{{ user.telefonNumber }}</td>
            </tr>
            <tr>
                <th>Alamat Surat Menyurat</th>
                <td>{{ user.currentAddress }}</td>
            </tr>
            <tr>
                <th>Nama Rujukan</th>
                <td>{{ user.referenceName }}</td>
            </tr>
            <tr>
                <th>No Telefon Rujukan</th>
                <td>{{ user.referenceNumber }}</td>
            </tr>
            <tr>
                <th>Hubungan Rujukan</th>
                <td>{{ user.referenceRelationship }}</td>
            </tr>
        </tbody>
    </table>
     <div class="btn-group" role="group">
        <a class="btn btn-warning" href="{{ path('user_edit', {'personId': user.personId}) }}">Sunting</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
    </div>
    </div>

{% endblock %}